*{
  margin: 0px;
  padding: 0px;
  /* background-color:#ffffb5; */
}

.App{
  text-align: center;
}
.App h1{
  margin-bottom: 28px;
}
.App button{
    margin-top: 14px;
}
.main_body{
  display: flex;
  list-style: none;

  max-width: 1000px;

  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;
}
.body_btn{
  margin-left: 8px;
}
.delete{
  margin-left: 5px;
}
.delete:hover{
  cursor: pointer;
  color: red;
  font-weight: bold;
}